<div class="container d-flex flex-column  align-items-center" style="margin-top:7%">
  <h1>Account Login</h1>
  <form action="" class="col-12">

    <div class="mt-4 form-example text-center">
      <input type="text" name="name" id="name" placeholder="Email" class="p-3 col-4"  required>
    </div>
    <div class="mt-4 form-example text-center">
      <input type="email" name="email" id="email" placeholder="Password" class="p-3 col-4" required>
    </div>

    <div class="text-center">
      <button class="mt-5 btn btn-outline-dark px-4">Sign in</button>
    </div>
    
  </form>

</div>
